<app-auth-layout title="Change Password" subtitle="Enter your old and new password">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <div class="password-field">
        <i class="pi pi-lock password-icon"></i>
        <p-password
          formControlName="oldPassword"
          placeholder="Old Password"
          [toggleMask]="true"
          [fluid]="true"
          [feedback]="false"
          inputStyleClass="password-input"
        />
      </div>
      @if (form.controls.oldPassword.touched &&
      form.controls.oldPassword.invalid){
        <small class="validation-text error-text">
          Old password is required
        </small>
      }
    </div>
    <div class="form-field">
      <div class="password-field">
        <i class="pi pi-lock password-icon"></i>
        <p-password
          formControlName="newPassword"
          placeholder="New Paasword"
          [toggleMask]="true"
          [fluid]="true"
          [feedback]="false"
          inputStyleClass="password-input"
        />
      </div>
    </div>
    @if (form.controls.newPassword.touched || form.controls.newPassword.dirty) {
      <div class="password-requirements  pt-0 pb-2">
        @for (requirement of passwordRequirements$ | async; track requirement.message) {
          <p class="validation-text" [ngClass]="{'success': requirement.valid, 'error': !requirement.valid}">
            <i class="pi" [ngClass]="requirement.valid ? 'pi-check' : 'pi-times'"></i>
            <small class="pl-2">{{ requirement.message }}</small>
          </p>
        }
      </div>
    }
    <button pButton type="submit" class="submit-btn" [disabled]="this.form.invalid || !currentUser()">
      Submit
    </button>
  </form>
</app-auth-layout>
