
<app-auth-layout title="Forgot Password" subtitle="Please enter your email">
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-envelope"></p-inputicon>
        <input
          pInputText
          formControlName="email"
          placeholder="Email"
          class="input-text"
        />
      </p-iconfield>
      @if (forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.invalid) {
        <small class="validation-text error-text">
          Valid email is required
        </small>
      }
    </div>
    <button pButton type="submit" class="submit-btn" [disabled]="forgetPasswordForm.invalid">
      Send
    </button>
  </form>
</app-auth-layout>
