<div class="feed-wrapper">

  <app-look-filters [genders]="genders()" [lookFilters]="filters()"
                    [attributeOptions]="attributeOptions()"
                    (filtersChanged)="onFilterChange($event)" [colours]="colours()"></app-look-filters>

  <app-looks [looks]="looks()" [loadedPages]="loadedPages()"
             [currentUser]="currentUser()"
             (lookPageNumberChange)="onLookPageNumberChange($event)" (reactionChange)="onReactionsChange($event)"
             (manageLook)="onManageLook($event)"></app-looks>
</div>
<p-dialog
  [(visible)]="isDialogVisible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  header="Confirm Action"
  [style]="{ width: '350px' }"
>
  <ng-template pTemplate="default">
    <p class="text-sm text-blue-100">
      Are you sure you want to
      <strong>{{ lookToManage?.action === 'delete' ? 'delete' : 'hide' }}</strong>
      this look?
    </p>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="isDialogVisible.set(false)" />
      <p-button label="Submit" (click)="confirmLookAction()" />
    </div>
  </ng-template>
</p-dialog>
