<div class="login-container">
  <p-card header="Log in" class="login-card">
    <p class="subheading text-xl">Please enter your details</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <div class="form-field">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope"></p-inputicon>
          <input
            pInputText
            formControlName="email"
            placeholder="Email"
            class="input-text"
          />
        </p-iconfield>
        @if(loginForm.controls.email.touched && loginForm.controls.email.invalid)
        {
          <small
            class="validation-text error-text"
          >
            Valid email is required
          </small>
        }
      </div>

      <!-- Password Input -->
      <div class="form-field">
        <div class="password-field">
          <i class="pi pi-lock password-icon"></i>
          <p-password  formControlName="password" placeholder="Password" [toggleMask]="true" [fluid]="true" [feedback]="false" inputStyleClass="password-input" />
        </div>
      </div>
      @if(loginForm.controls.password.touched || loginForm.controls.password.dirty){
        <div class="password-requirements">
          @for( requirement of passwordRequirements; track requirement.message){
            <p class="validation-text" [ngClass]="{'success': requirement.valid, 'error': !requirement.valid}">
              <i class="pi" [ngClass]="requirement.valid ? 'pi-check' : 'pi-times'"></i>
              <small class="pl-2">{{ requirement.message }}</small>
            </p>
          }

        </div>
      }



      <div class="actions">
        <a href="#" class="forgot-link">Forgot password?</a>
      </div>


      <button pButton type="submit" class="submit-btn" [disabled]="loginForm.invalid">
        Log In
      </button>
      <div class="secondary-action">
        <a href="#">Don’t have an account?
          Sign-up here</a>
      </div>
    </form>
  </p-card>
</div>
