header {
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed; /* Fixed position to prevent scrolling issues */
  top: 0;
  z-index: 1000; /* Ensure header stays above other content */

  .navigation-list {
    padding: 1rem 0;
  }
}
