@import "./assets/styles/variables.css";
@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

.base-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.has-header .base-wrapper {
  height: calc(100% - var(--header-height,4rem));
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.robot-icon {
  -webkit-mask: url('/assets/icons/robotic-stroke-rounded.svg') no-repeat center;
  mask: url('/assets/icons/robotic-stroke-rounded.svg') no-repeat center;

}

.human-icon {
  -webkit-mask: url('/assets/icons/size-chart-icon-2.svg') no-repeat center;
  mask: url('/assets/icons/size-chart-icon-2.svg') no-repeat center;
}
.hip-icon {
  -webkit-mask: url('/assets/icons/hip.svg') no-repeat center;
  mask: url('/assets/icons/hip.svg') no-repeat center;
}

.robot-icon,
.human-icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: white;
  -webkit-mask-size: 60%;
  mask-size: 60%;
}


.chest-icon {
  -webkit-mask: url('/assets/icons/chest.svg') no-repeat center/contain;
  mask: url('/assets/icons/chest.svg') no-repeat center/contain;
  background-color: #818cf8;
}

.hip-icon {
  -webkit-mask: url('/assets/icons/hip.svg') no-repeat center/contain;
  mask: url('/assets/icons/hip.svg') no-repeat center/contain;
  background-color: #818cf8;
}

.feet-icon {
  -webkit-mask: url('/assets/icons/feet.svg') no-repeat center/contain;
  mask: url('/assets/icons/feet.svg') no-repeat center/contain;
  background-color: #818cf8;
}
